<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
  <head>
  <link rel="preload"  href="{{ site.baseurl }}/assets/css/pages/index.css?v=3" as="style">

  {% include head.html %}

  <link href="{{ site.baseurl }}/assets/css/pages/index.css?v=3" rel="stylesheet">

</head>

  <body>
    {% include header.html %}

    <main class="page page-index">
      <div class="beams-wrapper global-beam-wrapper index-title">
          <div class="beam b-size-4">
              <div class="beam-item b-size-4 index-title-content">
                <svg id="Signature_-_gray" data-name="Signature - gray" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" opacity="0.19">
                    <rect width="14" height="14" rx="2" fill="#233030"/>
                    <path d="M2.52283 5.01694L2.01033 4.92294V4.4168H4.31658V4.92294L3.7329 5.01694V6.74502H5.68324V5.02417L5.14939 4.92294V4.4168H7.42717V4.92294L6.90043 5.01694V9.23955L7.42717 9.31185V9.78906H5.14939V9.31185L5.68324 9.23231V7.35962H3.7329V9.23955L4.31658 9.31185V9.78906H1.99609V9.31185L2.52283 9.23955V5.01694Z" fill="white"/>
                    <path d="M10.7859 4.85786L9.09184 4.96632L8.69323 5.9569L8.08108 5.87013L8.25903 4.40234H11.9604L12.1384 4.82894L9.63993 8.83464L9.14167 9.30462L11.1703 9.15278L11.5832 8.03928L12.1953 8.16943L12.0387 9.78906H8.03837L7.80348 9.36969L10.3589 5.34954L10.7859 4.85786Z" fill="white"/>
                  </svg>
                  <h1>{{page.h1}}</h1>
              </div>
          </div>
      </div>
      <div class="beams-wrapper global-beam-wrapper index-content">
          <div class="beam b-size-4">
              <div class="beam-item b-size-4 index-articles">
                  <section class="beam b-size-4">
                      <header class="beam-item b-size-4">
                          <p class="h-section">{{site.i18n[page.lang].recent_articles}}</p>
                      </header>
  
                      {% assign articles = site.posts | where: "belongs_to_hub", false | where:"lang", page.lang %}
                      {% assign i = 0 %}
  
                      {% for article in articles limit: 7 %}
                        {% if i == 0 or i == 9 %}
                          <div class="beam-item b-size-2">
                            {% include parts/articles-listing-boxitem-lg.html article=article %}
                          </div>
                        {% else %}
                        <div class="beam-item b-size-1">
                          {% include parts/articles-listing-boxitem-sm.html article=article %}
                        </div>
                        {% endif %}
  
                        {% assign i = i | plus: 1 %}
                      {% endfor %}
  
                  </section>

                    {% if page.recent_rankings %}
                    <section class="beam b-size-4">
                        <header class="beam-item b-size-4">
                            <p class="h-section">{{site.i18n[page.lang].recent_rankings}}</p>
                        </header>
    
                        {% assign rankings = site.pages | where:"lang",  page.lang  | where:"layout","ranking" | sort: 'is_hub' | reverse %}
                        {% assign i = 0 %}
    
                        {% for ranking in rankings limit:7%}
                          {% if i == 2 or i == 9 %}
                            <div class="beam-item b-size-2">
                              {% include parts/reviews-listing-boxitem-lg.html ranking=ranking %}
                            </div>
                          {% else %}
                          <div class="beam-item b-size-1">
                            {% include parts/reviews-listing-boxitem-sm.html ranking=ranking %}
                          </div>
                          {% endif %}
    
                          {% assign i = i | plus: 1 %}
                        {% endfor %}
    
                    </section>
                    {%endif%}
                    {% assign random_products = site.products | sample: 8 | where: "lang", page.lang%}
                    {% if random_products[3]%}
                    <section class="beam">                      
                      <header class="beam-item b-size-4">                        
                        <p class="h-section">{{site.i18n[page.lang].featured_products}}</p>
                      </header>
                      <div class="beam-item index-products">
                        <div class="flex-wrapper  nowrap">
                          <div class="flex-container">
                            {% for item in random_products %}
                                <div class="flex-item" >
                                {% include parts/product-listing-boxitem-md.html product=item %}
                                </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </section>
                    {%endif%}       
              </div>
          </div>       

          <div class="beam  b-size-4">
              <section class="beam-item b-size-2">
                  <h2 class="h-section">{{page.first_seo_section.title}}</h2>
                  <p>{{page.first_seo_section.content}}</p>
              </section>
              <section class="beam-item b-size-2">
                  <h2 class="h-section">{{page.second_seo_section.title}}</h2>
                  <p>{{page.second_seo_section.content}}</p>
              </section>
          </div>
      </div>
  </main>

    {% include footer.html %}
    <!-- <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Lora:400,400i,700|IBM+Plex+Mono' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
    </script> -->

    {% include all_pages_footer.html %}
  </body>
</html>
